:root {
    --pad: 20px;
}

*::before,
*::after,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes carrusel {
    0% {
        background-image: url(../img/design1_image1.jpg);
    }

    33.33% {
        background-image: url(../img/img1.jpg);
    }

    66.66% {
        background-image: url(../img/img2.jpg);
    }

    100% {
        background-image: url(../img/img3.jpg);
    }
}

.logo-img {
    max-width: 150px;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #336699ff;
    text-transform: uppercase;
}

h1,
h2 {
    text-align: center;
    padding: var(--pad);
}

h2 {
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.20);
    background-color: #86bbd8;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    /* border-radius: 20px; */
}

span:not(article>span, h3 span) {
    font-weight: bolder;
}

.letter-list {
    list-style-type: lower-alpha;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2f4858ff;
}

nav a {
    height: 60px;
    padding: var(--pad);
    text-align: center;
}

nav a:hover {
    background-color: rgba(240, 248, 255, 0.397);
    transition: 0.25s;
}

.active {
    background-color: #86bbd8ff;
}

body {
    color: white;
    font-family: Tahoma, Geneva, sans-serif;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    animation: carrusel 20s infinite;
}

main {
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    margin: 50px 0 50px 0;
    max-width: 800px;
    flex-direction: column;
    background-color: rgba(47, 72, 88, 0.5);
    border-radius: 20px;
}

article,
li:not(li ol li),
section>p,
th,
td {
    padding: var(--pad);
}

table {
    flex: 1;
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
}

th {
    background-color: rgba(47, 72, 88, 0.5);
}

.stripe {
    background-color: rgba(134, 187, 216, 0.5);
}

h3 span {
    font-size: medium;
    font-weight: normal;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: var(--pad);
    gap: var(--pad);
}

.form-row {
    display: flex;
    align-items: center;
    gap: var(--pad);
}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--pad)/3);
}

form article * {
    margin-bottom: var(--pad);
}

.w50 {
    max-width: 50%;
}

input[type="radio"],
input[type="checkbox"]:not(p+input) {
    display: none;
}

input:not(p+input),
select,
.checkbox,
.radio {
    all: unset;
    padding: calc(var(--pad)/2);
    border-radius: 10px;
    /* border: 1px solid rgba(47, 72, 88, 0.26); */
    background-color: rgba(255, 255, 255, 0.18);
}

option {
    background-color: rgba(47, 72, 88, 0.5);
}

input:focus,
select:focus,
input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label:not(p+input+label) {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.4);
}

.checkbox:hover,
.radio:hover {
    cursor: pointer;
}

.btn {
    flex-grow: 1;
    max-width: 300px;
    background-color: #336699ff;
    text-align: center;
    font-weight: bolder;
}

.btn:hover {
    cursor: pointer;
    background-color: #86bbd8ff;
    transition: 0.25s;
}

.center {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.shadow,
section,
.btn {
    /* border: 1px solid rgba(255, 255, 255, 0.377); */
    box-shadow: -1px 1px 5px 8px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: -1px 1px 5px 8px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 5px 8px rgba(0, 0, 0, 0.15);
}

iframe {
    width: 100%;
    height: 300px;
}

input[type="radio"]:checked+.map-container {
    display: block;
}

.map-container {
    display: none;
}


.map-td {
    padding: 0;
}

.toggle-map {
    cursor: pointer;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

header label {
    display: none;
}

@media only screen and (max-width:624px) {
    .logo-img {
        width: 80px;
    }

    label h3 {
        margin-right: calc(var(--pad));
        font-size: 50px;
    }

    h1 {
        display: none;
    }

    header {
        width: 100%;
        position: fixed;
        top: 0;
        justify-content: space-between;
        align-items: center;
    }

    main {
        margin-top: 100px;
        display: flex;
        flex: 1;
    }

    section {
        flex-grow: 1;
    }

    nav {
        display: none;
        flex-direction: column;
    }

    nav a {
        text-align: left
    }

    header label,
    input[name="toggle-nav"]:checked+nav {
        display: flex;
        justify-content: center;
    }

    th,
    td {
        padding: calc(var(--pad)) calc(var(--pad)/3) calc(var(--pad)) calc(var(--pad)/3);
    }

    tr>th {
        max-width: 40px;
        overflow: hidden;
    }

    .form-row {
        flex-wrap: wrap;
    }

    .w50 {
        max-width: 100%;
    }
}